body {background-color: darkcyan;};
index {background-color: darkcyan;};
home {background-color: darkcyan;};
about {background-color: darkcyan;};
portfolio {background-color: darkcyan;};

header {text-align: right;};

section { 
    width: 100%;
    height: auto;
}


img { width: 475px; height: 360px;
    box-sizing: border-box;
    align-content: center;
    object-position: center;
    border: 10px solid black;
}

h1 { 
    color:goldenrod;
    font-style:normal; font-size:xx-large;
    text-align: center;
    margin: 5px 5px 5px 5px;
    background-color: darkcyan;
}
